<ul class="nav nav-tabs" id="myTab" role="tablist">
<!--
  <li class="nav-item">
    <a class="nav-link active" id="allergies-others-tab" data-toggle="tab" href="#allergies-others" role="tab" aria-controls="allergies-others" aria-selected="true">ALLERGIE & GR/RH</a>
  </li>
 -->
 <li class="nav-item">
    <a class="nav-link" id="antecedents-tab" data-toggle="tab" href="#antecedents" role="tab" aria-controls="antecedents" aria-selected="false">ANTÉCÉDENTS</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="general-exams-tab" data-toggle="tab" href="#general-exams" role="tab" aria-controls="general-exams" aria-selected="false">EXAMENS GÉNÉRAUX</a>
  </li>

   <li class="nav-item">
    <a class="nav-link" id="physical-exams-tab" data-toggle="tab" href="#physical-exams" role="tab" aria-controls="physical-exams" aria-selected="false">EXAMENS PHYSIQUES</a>
  </li>

   <li class="nav-item">
    <a class="nav-link" id="resums-tab" data-toggle="tab" href="#resums" role="tab" aria-controls="resums" aria-selected="false">RESUMÉS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="syndromic-groupings-tab" data-toggle="tab" href="#syndromic-groupings" role="tab" aria-controls="syndromic-groupings" aria-selected="false">REGROUP. SYNDROMIQUE</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="diagnotic-hypotheses" data-toggle="tab" href="#diagnotic-hypotheses" role="tab" aria-controls="diagnotic-hypotheses" aria-selected="false">HYPOTHESES DIAGNOSTIQUES</a>
  </li>

   <li class="nav-item">
    <a class="nav-link" id="exam-requests" data-toggle="tab" href="#exam-requests" role="tab" aria-controls="exam-requests" aria-selected="false">EXAMENS DEMANDES</a>
  </li>

</ul>
