<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="antecedents" role="tabpanel" aria-labelledby="antecedents-tab">
    <p>
    <%= render "antecedents/medical_record_antecedents_index"%>
    </p>
  </div>

  <div class="tab-pane fade" id="archives" role="tabpanel" aria-labelledby="archives-tab">
  </div>
  <div class="tab-pane fade" id="new-record" role="tabpanel" aria-labelledby="new-record-tab">
  </div>
</div>