<div class="accordion" id="accordionSyndromicGrouping">
	<div class="card">
    <div class="card-header" id="headingSyndromicGrouping">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSyndromicGrouping" aria-expanded="true" aria-controls="collapseSyndromicGrouping">
        <div class="button-label">Regroupement syndromique </div>
				</button>
      </h2>
    </div>

		<div id="collapseSyndromicGrouping" class="collapse" aria-labelledby="headingSyndromicGrouping" data-parent="#accordionPhysicalExam">
      <div class="card-body">


    <!-- Fieldset informations -->
    <fieldset>
    <legend>Regroupement syndromique </legend>
	    <!-- row 1 -->
	    <div class="row">
			<div class="col-md-12">
                <div class="form-group">
                    <%= form.label t(:syndromic_grouping) %>
                    <%= form.text_area :syndromic_grouping, class: "form-control", placeholder: "Regroupement syndromique" %>
            
                </div>
             </div>

			

			
			


        </div>
    </div>

</div>
		</div>
</div