<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @input_stock_outlet.user %>
</p>

<%= link_to 'Edit', edit_input_stock_outlet_path(@input_stock_outlet) %> |
<%= link_to 'Back', input_stock_outlets_path %>
