
<div class="br-pageheader">
      <nav class="breadcrumb pd-0 mg-0 tx-12">
        
        <span class="breadcrumb-item active"><h5>Asurances</h2></span>
      </nav>
    </div><!-- br-pageheader -->
<div class="br-pagebody">
  <div class="br-section-wrapper">
    <div class="headers mg-b-20">
      
        <div class="pull-left">
          <p>
            <%= link_to raw('<i class="fa fa-medkit" aria-hidden="true"></i> Médicaments couverts'), insurance_medicaments_path, class: "btn btn-danger tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1" %>
            <%= link_to raw('<i class="fa fa-user-md" aria-hidden="true"></i> Prestations couvertes'), insurance_prestations_path, class: "btn btn-danger tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1" %>
          </p>
        </div>

        <div class="pull-right">
          <p>
            <%= link_to raw('<i class="fa fa-plus" aria-hidden="true"></i> Ajouter'), new_insurance_path, class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", remote: true %>
          </p>
        </div>
      
    </div>


<table id="datatable1" class="table display responsive nowrap">



  <thead>
    <tr>
     
      <th>Name</th>
      <!-- <th>Description</th> -->
      
      <th>Actions</th>
    </tr>
  </thead>

  <tbody class="insurances">
    <%= render "index" %>
  </tbody>
</table>

</div>
</div>
<div id="insurance-modal" class="c-modal modal fade" data-backdrop="static"></div>
