<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @input_stock_entry.user %>
</p>

<%= link_to 'Edit', edit_input_stock_entry_path(@input_stock_entry) %> |
<%= link_to 'Back', input_stock_entries_path %>
